# Postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=teteumachado
POSTGRES_PASSWORD=yourpassword
POSTGRES_DATABASE=teteumachado

DATABASE_URL=postgres://teteumachado:yourpassword@127.0.0.1:5432/teteumachado
